a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: $primary;
  transition: all .5s ease;
  color: $secondary;
  display: inline-block;

  &:hover {
    background-color: $secondary;
    color: $primary;
    transition: all .5s ease;
  }
}

h1 {
  font-size: 2rem;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

.navigation {

  &__home {
    @include iconize('home', 'before');
  }
}